<app-header></app-header>
<div class="px-10 py-5 space-y-6 font-primary">
    <h3 class="text-4xl font-semibold text-d2" >Eventos</h3>
    <ul class="grid grid-cols-3 gap-x-8 gap-y-5" >
        @for (item of EventData; track $index) {
            <li class="border rounded-xl px-5 py-3 border-d1 space-y-4">
                <img [src]="item['ImageUrl']" alt="" class="h-26 bg-amber-100" >
                <div class="space-y-2">
                    <h4 class="text-lg font-semibold text-d1">{{item['Name']}}</h4>
                    <p class="text-lg text-d2 font-medium" >Description : <span class="text-d3">{{item['Description']}}</span></p>
                    <p class="text-lg text-d2 font-medium" >Lugar : <span class="text-d3">{{item['Location']}}</span></p>
                </div>
                <button 
                [routerLink]="['/event',item['Id']]" routerLinkActive="router-link-active" 
                class="bg-d1 rounded-lg px-4 py-2 text-white cursor-pointer hover:text-d4" >Reservar boleto</button>
            </li>
        }
    </ul>
</div>