<div class="w-full" >
    <div class="bg-gradient-to-r from-d1 via-d2 to-d4 h-10 flex items-center">
        <h1 class="px-10 text-white font-primary text-lg underline hover:text-d3 cursor-pointer" >Inicio</h1>
    </div>
    <div class="flex justify-between py-5 px-10">
        <section>
            <h2 class="text-d1 text-5xl font-secondary tracking-wide" >TicketFácil</h2>
        </section>
        <section class="flex space-x-8">
            <div class="flex items-center space-x-3" routerLink="/login"  >
                <i class="fa-solid fa-user text-d1 fa-xl"></i>
                <h4 class="text-d4 font-semibold text-xl" >Iniciar Sesion</h4>
            </div>
            <div class="flex items-center space-x-3" routerLink="/register" >
                <i class="fa-solid fa-right-to-bracket text-d1 fa-xl"></i>
                <h4 class="text-d4 font-semibold text-xl" >Registrar</h4>
            </div>
        </section>
    </div>
</div>
<div class="w-full h-[25rem] bg-d3">
    slider de 
</div>
<div class="">

</div>