<div class="w-64 bg-white shadow-md">
  <div class="p-4 border-b">
    <h2 class="text-xl font-semibold text-d1">Menú Admin</h2>
  </div>
  <nav class="mt-4">
    <a
      routerLink="/admin/dashboard"
      routerLinkActive="bg-d2 text-white"
      class="block px-4 py-2 text-gray-700 hover:bg-d2 hover:text-white"
    >
      Dashboard
    </a>
    <a
      routerLink="/admin/eventos"
      routerLinkActive="bg-d2 text-white"
      class="block px-4 py-2 text-gray-700 hover:bg-d2 hover:text-white"
    >
      Eventos
    </a>
    <a
      routerLink="/admin/tipos-ticket"
      routerLinkActive="bg-d2 text-white"
      class="block px-4 py-2 text-gray-700 hover:bg-d2 hover:text-white"
    >
      Tipos de Tickets
    </a>
    <a
      routerLink="/admin/users"
      routerLinkActive="bg-d2 text-white"
      class="block px-4 py-2 text-gray-700 hover:bg-d2 hover:text-white"
    >
      Usuarios
    </a>
  </nav>
</div>
